.block-3-column-image-and-text {
  #loadMore {
    text-align: center;
    background-color: $brand-primary;
    color: $white-100;
    // padding: 10px;
    // text-align: center;
    // background-color: #33739e;
    // color: #fff;
    // border-width: 0 1px 1px 0;
    // border-style: solid;
    // border-color: #fff;
    // box-shadow: 0 1px 1px #ccc;
    // transition: all 600ms ease-in-out;
    // -webkit-transition: all 600ms ease-in-out;
    // -moz-transition: all 600ms ease-in-out;
    // -o-transition: all 600ms ease-in-out;
  }

  // Container
  &__container {
    padding: 0.9375rem;
    @include media-breakpoint-up(md) {
      padding: 2.125rem 1.1875rem;
    }
    @include media-breakpoint-up(lg) {
      padding: 0 2.1875rem;
      max-width: 80rem;
      margin: 0 auto;
    }
  }
  // Heading
  &__heading {
    padding: 1rem;
    h2 {
      color: $brand-primary;
    }
    p {
      color: $grey-100;
    }
    h2 {
      margin-bottom: 0.75rem;
      @include media-breakpoint-up(lg) {
        margin-bottom: 1.375rem;
      }
    }
    p {
      @extend .text-big;
      @include media-breakpoint-up(md) {
        max-width: 23.75rem;
        //        margin: 0 auto 1rem auto;
      }
      @include media-breakpoint-up(lg) {
        max-width: 36.25rem;
      }
    }
  }
  // List
  &__list {
    padding: 0.5rem 0 0.5rem 0;

    &.display-flex {
      display: flex;
      flex-wrap: wrap;
      //display: none;
    }
    &.display-flex > [class*='col-'] {
      display: flex;
      flex-direction: column;
    }

    @include media-breakpoint-up(lg) {
      padding: 0 0 1.25rem 0;
    }

    // List Item
    &--item {
      &:nth-child(3n) {
        .cardbox {
          background-color: $card-magenta;
        }
      }
      &:nth-child(3n - 1) {
        .cardbox {
          background-color: $card-blue;
        }
      }
      &:nth-child(3n - 2) {
        .cardbox {
          background-color: $card-orange;
        }
      }
      @include media-breakpoint-down(sm) {
        padding: 0;
      }

      .cardbox {
        height: 100%;
        width: 100%;
        margin-bottom: 1rem;
        padding: 1.875rem 1.25rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        //background-color: $brand-primary;
        justify-content: space-between;
        flex-direction: column;
        display: flex;
        > .card__top {
          align-content: flex-start;
        }
        > .card__bottom {
          @extend .mt-3;
          align-content: flex-end;
        }
        @include media-breakpoint-up(md) {
          padding: 1.5625rem;
        }

        @include media-breakpoint-up(lg) {
          padding: 1.875rem 1.25rem;
        }

        h3,
        p {
          color: $secondary-a;
        }
        h3 {
          @include media-breakpoint-up(md) {
            margin-bottom: 0.75rem;
          }
          @include media-breakpoint-up(lg) {
            margin-bottom: 1.375rem;
          }
        }
        p {
          @extend .text-medium;

          a {
            @extend .text-medium;
            color: $secondary-a;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        div {
          a.btn-link {
            display: block;
            @extend .text-medium;
            color: $secondary-a;
            text-decoration: underline;
          }

          a.btn-link + a.btn,
          a.btn + a.btn-link {
            margin-top: 1.25rem;
          }
        }
      }
    }
  }
}
