// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin fontSize($size) {
  font-size: $size;
  font-size: ($size / $font-size-base) * 1rem;
}
