// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base Font size
$font-size-base: 16px;

// All Colors
$white-100: #fff;
$body-bg: #f8f8f8;
$brand-primary: #ea5167 !default;
$secondary-a: #f0ebe3 !default;
$grey-100: #727272 !default;
$border-theme-colors: () !default;
$card-orange: #f59925;
$card-blue: #4aaddf;
$card-magenta: #ab76ad;
$border-theme-colors: map-merge(
  (
    'brand-primary': $brand-primary,
    'secondary-a': $secondary-a,
    'grey-100': $grey-100,
  ),
  $border-theme-colors
);
$text-theme-colors: () !default;
$text-theme-colors: map-merge(
  (
    'brand-primary': $brand-primary,
    'secondary-a': $secondary-a,
    'grey-100': $grey-100,
  ),
  $text-theme-colors
);
