// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

a.btn {
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
  &.disabled {
    cursor: default;
  }
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 2px 5px;
  min-width: 120px;
  min-height: 32px;
  color: $white-100;
  border: solid 1px $white-100;
  font-family: 'CarosSoftMedium', 'OpenSansSemiBold', 'HelveticaRegular', Arial;
  @include fontSize(10px);
  text-align: center;
  text-transform: uppercase;
  line-height: 2.5;
  border-radius: 4px;

  @include media-breakpoint-up(lg) {
    padding: 10px 16px;
    min-width: 168px;
    min-height: 40px;
    line-height: 1.67;
    @include fontSize(12px);
  }

  &:hover {
    color: $white-100;
  }
}
