*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; // To inherit box-sizing from "body" element
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  font-family: 'CarosSoftRegular', 'OpenSansRegular', 'HelveticaRegular', Arial;
  color: $grey-100;
  background-color: $body-bg;
}

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
   * Basic styles for links
   */
a {
  color: $grey-100;
  text-decoration: underline;
  font-size: inherit;
  font-weight: 700;

  &:hover {
    color: $brand-primary;
  }
}

h1 {
  @extend .mb-4;
}
h2 {
  @extend .mb-4;
}

h4 {
  margin-bottom: 2rem;
}

.container {
  padding: 0px;
  max-width: 1280px;
}

// Wrapper - 1280px
// Mobile: 15px margin: left/right
// Tablet: 34px/35px margin: left/right
// Desktop: 50px margin: left/right
// Margin: 0px (top/bottom)

.container-padding {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;

  @include media-breakpoint-up(md) {
    padding-left: 2.125rem;
    padding-right: 2.125rem;
  }

  @include media-breakpoint-up(lg) {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }
}

.blockWrapper1280 {
  @extend .container-padding;
  max-width: 80rem;
  margin: 0 auto;
}
