// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
  font-family: 'CarosSoftRegular';
  src: url('../../dist/fonts/CarosSoftRegular.woff2') format('woff2'),
    url('../../dist/fonts/CarosSoftRegular.woff') format('woff'); /*Modern Browsers*/
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CarosSoftMedium';
  src: url('../../dist/fonts/CarosSoftMedium.woff2') format('woff2'),
    url('../../dist/fonts/CarosSoftMedium.woff') format('woff'); /*Modern Browsers*/
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CarosSoftBold';
  src: url('../../dist/fonts/CarosSoftBold.woff2') format('woff2'),
    url('../../dist/fonts/CarosSoftBold.woff') format('woff'); /*Modern Browsers*/
  font-weight: bold;
  font-style: normal;
}

// Open Sans

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../../dist/fonts/OpenSansRegular.woff') format('woff'),
    url('../../dist/fonts/OpenSansRegular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../../dist/fonts/OpenSansSemiBold.woff') format('woff'),
    url('../../dist/fonts/OpenSansSemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../../dist/fonts/OpenSansBold.woff') format('woff'),
    url('../../dist/fonts/OpenSansBold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

// Helvetica

@font-face {
  font-family: 'HelveticaBold';
  src: url('../../dist/fonts/HelveticaBold.woff') format('woff'),
    url('../../dist/fonts/HelveticaBold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaRegular';
  src: url('../../dist/fonts/HelveticaRegular.woff') format('woff'),
    url('../../dist/fonts/HelveticaRegular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
