/**
 * Basic typography style for copy text
 */
body {
  font-size: $font-size-base;
  // color: $text-color;
  // font: normal 125% / 1.4 $text-font-stack;
}

h1,
h2,
h3,
h4 {
  font-family: 'CarosSoftBold', 'OpenSansBold', 'HelveticaBold', 'Arial';
  font-weight: bold;
}

h5,
h6 {
  font-family: 'CarosSoftMedium', 'OpenSansSemiBold', 'HelveticaRegular',
    'Arial';
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: normal;
}

h1 {
  @include fontSize(32px);
  line-height: 1.13;
  @include media-breakpoint-up(lg) {
    @include fontSize(44px);
    line-height: 1.09;
  }
}

h2,
h2 > span {
  @include fontSize(26px);
  line-height: 1.15;
  @include media-breakpoint-up(lg) {
    @include fontSize(30px);
    line-height: 1.2;
  }
}

h3 {
  @include fontSize(22px);
  line-height: 1.18;
  @include media-breakpoint-up(lg) {
    @include fontSize(24px);
    line-height: 1.25;
  }
}

h4 {
  @include fontSize(18px);
  line-height: 1.22;
}

h5 {
  @include fontSize(14px);
  line-height: 1.43;
  @include media-breakpoint-up(lg) {
    line-height: 1.29;
  }
}

h6 {
  @include fontSize(12px);
  line-height: 1.5;
  @include media-breakpoint-up(lg) {
    line-height: 1.17;
  }
}

.text-small,
.text-medium {
  font-family: 'CarosSoftRegular', 'OpenSansRegular', 'HelveticaRegular',
    'Arial';
  font-weight: normal;
  letter-spacing: normal;
  font-stretch: normal;
  font-style: normal;
}
.text-small {
  @include fontSize(12px);
  line-height: 1.5;
}

.text-medium {
  @include fontSize(14px);

  line-height: 1.43;
  @include media-breakpoint-up(lg) {
    @include fontSize(16px);
    line-height: 1.38;
  }
}

.text-big {
  font-family: 'CarosSoftRegular', 'OpenSansRegular', 'HelveticaRegular',
    'Arial';
  @include fontSize(16px);
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  @include media-breakpoint-up(lg) {
    @include fontSize(18px);
    line-height: 1.33;
  }
}

.text-medium-error {
  font-family: 'CarosSoftRegular', 'OpenSansRegular', 'HelveticaRegular',
    'Arial';
  @include fontSize(16px);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;

  // @include media-breakpoint-up(lg) {
  //   @include fontSize(16px);
  //   line-height: 1.13;
  // }
}

.text-small-error {
  font-family: 'CarosSoftRegular', 'OpenSansRegular', 'HelveticaRegular',
    'Arial';
  @include fontSize(12px);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.h4 {
  @extend h4;
}
