// Generate Border color

@each $color, $value in $border-theme-colors {
  .border-#{$color} {
    border-color: $value;
  }
}

@each $color, $value in $border-theme-colors {
  .bg-#{$color} {
    background-color: $value;
  }
}

@each $color, $value in $text-theme-colors {
  .text-#{$color} {
    color: $value;
  }
}
