@charset "UTF-8";

// Bootstrap breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1440px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1280px,
  xxl: 1440px,
) !default;

@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/root';
@import '../../../node_modules/bootstrap/scss/reboot';
@import '../../../node_modules/bootstrap/scss/type';
@import '../../../node_modules/bootstrap/scss/grid';
@import '../../../node_modules/bootstrap/scss/card';
@import '../../../node_modules/bootstrap/scss/utilities';

// 0. Vendors

// 1. abstracts
@import 'abstracts/variables', 'abstracts/mixins';

// 2. Base stuff
@import 'base/base', 'base/fonts', 'base/typography', 'base/utilities',
  'base/helpers';

// 3. Components
@import 'components/buttons';

// 4. Blocks

@import 'blocks/block-3-column-image-and-text';
